@import "../../style/index.scss";
.Container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: white;
  .Title {
    width: 100%;
    color: white;
    padding: 1rem;
    margin-bottom: 0;
  }
  .triggerBtn {
    width: 100%;
    height: 100%;
    border-radius: 0;
    text-align: right;
    padding: 1rem;
    color: white;
    &:hover {
      color: $BaseBlue !important;
    }
  }
  .Content {
    margin: 1rem;
    padding: 1rem;
    background: white;
    color: $DarkBlue;
  }
}
