@import "../../style/index.scss";

.Add {
  width: 4rem;
  height: 4rem;

  :global(.ant-float-btn-icon) {
    width: fit-content !important;
    font-size: 1.5rem !important;
  }
  :global(.ant-float-btn-content) {
    min-height: auto;
    padding: 0;
  }
}
.formBtn {
  text-align: right;
  margin-bottom: 0;
  button {
    margin-left: 1rem;
  }
}
